<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>404 Not Found | Neighborhood Map Project</title>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>

    <img src="{{ url_for('static', filename='img/page_not_found.jpg')}}" alt="404 Not Found Image" class="page_not_found_img"/>
    <a href="{{ url_for('show_neighborhood_map')}}"  class="page_not_found_link"> &gt;&gt; Go Back</a>


</body>

</html>
